.tarea-formulario {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tarea-input {
  width: 350px;
  font-size: 18px;
  font-weight: 400;
  background-color: white;
  padding: 9px 20px 9px 20px;
  border-radius: 10px;
  border: 2px solid #1875c6;
  outline: none;
}
.tarea-boton{
  padding: 11px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  border:none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  background: #2546b8;
  color: white;
  text-transform: capitalize;
}