@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.contenedor{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

}

.title-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
  padding-top: 25px;
}
.title{
  text-align: center;
  font-size: calc(1.5rem + 1vw);
}
.tareas-contenedor {
  min-height: 350px;
  max-height: 80vh;
  max-width: 85%;
  text-align: start;
  margin: 30px auto 0 auto;
  padding: 5px;
  border-radius: 25px;
  background: rgba(221,221,221,0.55);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(221,221,221,0.275);
  overflow-y:auto;
  overflow-x: hidden; 
  -webkit-box-shadow: 0 5px 16px -2.5px #636669;
  -moz-box-shadow: 0 5px 16px -2.5px #636669;
  box-shadow: 0 5px 16px -2.5px #636669;
}
/* Barra de desplazamiento */
.tareas-contenedor::-webkit-scrollbar{
  width: 8px;
  background-color: #2546b8;
  border-radius: 20px;
}
.tareas-contenedor::-webkit-scrollbar:window-inactive {
  display: none;
}
.tareas-contenedor::-webkit-scrollbar-thumb  {
  background-color: #09C;
  border-radius: 20px;
}

.title-tareas{
  text-align: center;
  margin-bottom: 15px;
  color:#1f1d1d;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
}
